<ion-content class="ion-padding" [fullscreen]="true">
  <div class="signup-container ion-text-center">

    <div class="logo-container">
      <app-logo class="ion-margin-bottom"></app-logo>
    </div>

    <p class="ion-text-center ion-padding-horizontal">
      Crea tu cuenta y registra a los clientes de tu gimnasio. No se requiere tarjeta de crédito o débito
    </p>
  
    <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <ion-title class="ion-text-center ion-margin-top ion-margin-bottom">Crear cuenta</ion-title>

      <ion-input type="text" label="Nombre de tu gimnasio" label-placement="floating" fill="outline" formControlName="businessName"></ion-input>
      <br>

      <ion-input type="email" label="Correo" label-placement="floating" fill="outline" formControlName="email"></ion-input>
      <br>

      <ion-input type="password" label="Contraseña" label-placement="floating" fill="outline" formControlName="password"></ion-input>
      <br>
  
      <ion-button 
        expand="block" 
        color="primary" 
        type="submit"
        [disabled]="signupForm.invalid"
      >
        Registro
      </ion-button>

    </form>

    <p class="ion-margin-top ion-margin-bottom">¿Ya tienes una cuenta?</p>
    <ion-button fill="clear" (click)="goToLoginView()">Inicia sesión</ion-button>

  </div>

</ion-content>
