<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
    <ion-title>Nuevo cliente</ion-title>
    <ion-button fill="clear" slot="end" [disabled]="formCtrl.invalid || loading">
      Guardar
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  @if(loading){
    <ion-spinner name="lines"></ion-spinner>
  }

  @if(!loading){
    <form class="ion-padding" [formGroup]="formCtrl">

      <ion-input type="text" label="Nombres" label-placement="floating" fill="outline" formControlName="firstName"></ion-input>
      <br>
      <ion-input type="text" label="Apellidos" label-placement="floating" fill="outline" formControlName="lastName"></ion-input>
      <br>
      <ion-input type="date" label="Fec. Nacimiento" label-placement="floating" fill="outline" formControlName="dateOfBirth"></ion-input>
      <br>
      <ion-select interface="popover" label="Tipo de documento" label-placement="floating" fill="outline" formControlName="docType">
        <ion-select-option value="ci">Cédula</ion-select-option>
        <ion-select-option value="dni">DNI</ion-select-option>
        <ion-select-option value="ce">Carnet de Extranjería</ion-select-option>
        <ion-select-option value="passport" >Pasaporte</ion-select-option>
        <ion-select-option value="other">Otro</ion-select-option>
      </ion-select>
      <br>
      <ion-input type="number" label="Número documento" label-placement="floating" fill="outline" formControlName="docNumber"></ion-input>
      <br>
      <ion-select interface="popover" label="Código del país" label-placement="floating" fill="outline" formControlName="countryCode">
        <ion-select-option value="51">+51</ion-select-option>
        <ion-select-option value="58">+58</ion-select-option>
      </ion-select>
      <br>
      <ion-input type="tel" label="Teléfono" label-placement="floating" fill="outline" formControlName="phoneNumber"></ion-input>
      <br>
      <ion-input type="date" label="Fec. Inicio" label-placement="floating" fill="outline"  formControlName="startDate"></ion-input>
      <br>
  
      <div class="d-flex ion-justify-content-between ion-align-items-center">
        @if (!formCtrl.value.photo) {
          <p>Cargar foto</p>
        }
        @if(formCtrl.value.photo){
          <ion-avatar>
            <img [src]="formCtrl.value.photo" />
          </ion-avatar>
        }
        <ion-button fill="outline">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      </div>
    </form>
  }

</ion-content>