<ion-content class="ion-padding" [fullscreen]="true">
  <div class="login-container ion-text-center">

    <div class="logo-container">
      <app-logo class="ion-margin-bottom"></app-logo>
    </div>

    <p class="ion-text-center ion-padding-horizontal">
      Inicia sesión y comienza a administrar a los clientes de tu gimnasio
    </p>
  
    <form class="login-form" [formGroup]="loginFormCtrl" (ngSubmit)="onSubmit()">
      <ion-title class="ion-text-center ion-margin-top ion-margin-bottom">Inicio de sesión</ion-title>

      <ion-input type="email" label="Correo" label-placement="floating" fill="outline" formControlName="email"></ion-input>
      <br>

      <ion-input type="password" label="Contraseña" label-placement="floating" fill="outline" formControlName="password"></ion-input>
      <br>
  
      <ion-button 
        expand="block" 
        color="primary" 
        type="submit"
        [disabled]="loginFormCtrl.invalid"
      >
        Iniciar Sesión
      </ion-button>

    </form>

    <p class="ion-margin-top ion-margin-bottom">¿Aún no tienes una cuenta?</p>
    <ion-button fill="clear" (click)="goToLoginView()">Regístrate</ion-button>

  </div>

</ion-content>
