<ion-content class="ion-padding" [fullscreen]="true">
  <div class="login-container ion-text-center">

    <div class="logo-container">
      <app-logo class="ion-margin-bottom"></app-logo>
    </div>

    <p class="ion-text-center ion-padding-horizontal">
      Inicia sesión y dale una mirada al estado de tus usuarios.
    </p>
  
    <form class="login-form" [formGroup]="loginFormCtrl" (ngSubmit)="onSubmit()">
      <ion-title class="ion-text-center ion-margin-top ion-margin-bottom">Inicio de sesión</ion-title>

      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Correo</ion-label>
        <ion-input
          type="email"
          placeholder="example@email.com"
          formControlName="email"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          type="password"
          placeholder="******"
          formControlName="password"
        ></ion-input>
      </ion-item>
  
      <ion-button 
        expand="block" 
        color="primary" 
        type="submit"
        [disabled]="loginFormCtrl.invalid"
      >
        Iniciar Sesión
      </ion-button>

    </form>

    <p>¿Aún no tienes una cuenta?</p>
    <ion-button fill="clear" (click)="goToLoginView()">Regístrate</ion-button>

  </div>

</ion-content>
