<ion-content class="ion-padding" [fullscreen]="true">
  <div class="login-container ion-text-center">

    <div class="logo-container">
      <app-logo class="ion-margin-bottom"></app-logo>
    </div>

    <p class="ion-text-center ion-padding-horizontal">
      Introduce tu dirección de correo electrónico para recibir un enlace de restablecimiento de contraseña.
    </p>
  
    <div class="login-form">
      <ion-title class="ion-text-center ion-margin-top ion-margin-bottom">Restaurar contraseña</ion-title>

      <ion-input type="email" label="Correo" label-placement="floating" fill="outline" [formControl]="formCtrl"></ion-input>
      <br>
  
      <ion-button 
        expand="block" 
        color="primary" 
        type="submit"
        [disabled]="formCtrl.invalid"
        (click)="onSubmit()"
      >
        Confirmar
      </ion-button>

    </div>

    <ion-button fill="clear" (click)="goToLoginView()">Iniciar sesión</ion-button>

  </div>

</ion-content>
