.login-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .login-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  
    ion-input {
      text-align: left;
    }
  }
  