<app-header 
  title="Lista de usuarios" 
  [showBackButton]="false"
  [showAuxiliaryButton]="true"
  auxiliaryButtonIconName="add-circle-outline"
  (auxiliaryButtonEmitter)="openUserRegistrationModal()"
></app-header>

<ion-content>
  @if (loading$ | async) {
    <div class="d-flex ion-align-items-center ion-justify-content-center full-width full-height">
      <ion-spinner></ion-spinner>
    </div>
  }

  @if ((loading$ | async) === false){
    <ion-list>
      @for (user of (userList$ | async); track $index) {
        <app-user-item 
          [user]="user"
        ></app-user-item>
      }
    </ion-list>
  }

  @if(!(loading$ | async) && (userList$ | async)?.length === 0){
    <div class="full-width ion-text-center center-v">
      <h3>No hay clientes registrados aún</h3>
      <p>Registra un cliente y mantente informado</p>
      <ion-button fill="solid" class="ion-margin-top" (click)="openUserRegistrationModal()">Empezar</ion-button>
    </div>
  }
</ion-content>